@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */
body{
    margin-left: 120px;
    margin-right: 120px;
}
.nav-title{
    font-family: "Fira Sans", serif; 
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-right: 140px;
}
.nav-btn{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    width: 116px;
    height: 52px;
    margin: 0px 10px;
    color: rgb(0, 106, 80);
    font-size: 14.4px;
    font-weight: 600;
    line-height: 17.6px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
    margin-right: -107px;
}

/* banner style */
.banner{
    width: 995px;
    height: 440px;
    display: flex;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    justify-content: space-between;
    /* align-items: center; */
    /* margin-left: 120px; */

}
.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 100px;
}
.banner-description{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0%;
    text-align:left;
    margin-top: 10px;
}
.banner-btn{
    border-radius: 10px;
    border: none;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
}
.banner-image{
    position: static;
    width: 360px;
    height: 400px;
}
.banner-col-1{
    position: static;
    width: 498px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 64px;
}
/* main part */
main{
    margin-top: 80px;
}
/* section-1 style */
.section-1-title{
    /* margin-left: 60px; */
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.section-1-item{
    display: flex;
    gap: 8px;
    /* margin-left: 95px; */
}
.item{
    width: 242px;
    height: 196px;
    box-sizing: border-box;
    border: 0.5px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    /* margin-left: 10px; */
}
.item-image{
    width: 35px;
    height: 40px;
    padding-top: 15px;
    padding-left: 15px;
}
.item-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 15px;
}
.item-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 15px;
}
/* section-2 style */
.section-2-title{
    /* margin-left: 60px; */
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.section-2-item{
    display: flex;
    gap: 10px;
}
.section-2-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding-right: 140px;
   
}
.section-2-item{
    width: 1000px;
    height: 250px; 
    box-sizing: border-box;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    gap: 20px;
}
.item-2-1{
    width: 33%;
    box-sizing: border-box;
    border-radius: 16px;
    border: 0.5px solid rgba(14, 14, 14, 0.15);
    background: rgba(84, 144, 245, 0.2);
}
.item-2-2{
    width: 33%;
    box-sizing: border-box;
    border-radius: 16px;
    border: 0.5px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
}
.item-2-3{
    width: 33%;
    box-sizing: border-box;
    border-radius: 16px;
    border: 0.5px solid rgba(14, 14, 14, 0.15);
    background: rgb(247, 235, 207);
}
.btn-2-1{
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background: rgb(84, 144, 245);
    margin-left: 15px;
}
.btn-2-2{
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background: rgb(9, 161, 92);
    margin-left: 15px;

}
.btn-2-3{
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background:rgb(255, 194, 57);
    margin-left: 15px;  
}

/* section-3 style */
.section-3{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-top: 40px;
    margin-right: 20px;
    
}
.section-3-description{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    margin-top: -40px;

}
.section-3-title{
    padding-left: 15px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    /* background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left 20px top -20px; */
    

}
.section-3-last-p{
    padding-left: 15px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 0;
    margin-top: -20px;
     
}
.img-quote{
    width: 40px;
    height: 40px;
    padding-left: 14px;
    padding-top: 15px;
}

/* section-4 style */
.section-4{ 
    margin-right: 20px;
}
.section-4-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.section-4-box-inside{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
}
.section-4-box-inside-2{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.section-4-btn{
    margin-top: 0px;
    border-left: 2px solid rgba(14, 14, 14, 0.15);
    padding-top: 10px;
    padding-left: 10px;
    
}
.btn-4{
    width: 140px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-4-1{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 25px;
    background: rgb(255, 255, 255);
    padding: 20px; 
}
.section-4-box-inside-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.section-4-box-inside-2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
